---
import Section from "../../atoms/section.astro";
---

<Section>
  <p class="text-accent text-xs">[02] Mis servicios</p>
  <h3>¿Qué ofrezco?</h3>

  <ul class="">
    <li>
      <h4>Consultoría de software</h4>
      <p>He hecho seguimiento y apoyado proyectos en producción</p>
    </li>
  </ul>
</Section>
