@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


:root {
  --font-color: rgb(255, 255, 255);
  --primary-font-family: Roboto;
  --primary-text-custom-color: #e94c4c;
  --secondary-text-custom-color: #647eff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(34, 34, 34);
  color: var(--font-color);
  font-family: var(--primary-font-family);
}

