---
import NavBar from "@/components/nav-bar/nav-bar.astro";
import "../styles/globals.css";
import { Font } from "astro:assets";

interface Props {
  title?: string;
  description?: string;
  index?: boolean;
  canonical?: string;
}

const { title, description, index = true, canonical } = Astro.props;

const pageUrl = canonical ?? Astro.url.href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- standard metadata -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Fonts -->
    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-caveat" preload />

    <!-- indexing -->
    <meta
      name="robots"
      content={index
        ? "index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
        : "noindex, nofollow"}
    />
    <link rel="canonical" href={pageUrl} />
  </head>
  <body class="font-sans antialiased">
    <NavBar />
    <main class="relative">
      <slot />
    </main>
  </body>
</html>
